<!--COMP229-Assignment02-Portfolio
Nandini Hariprasad
301129100
03/10/2021-->

<!--Add Header-->
 <%- include ../partials/header.ejs%>
 <!--Add Main Nav-->
  <%- include ../partials/main_nav.ejs%>

  <main class = "container">
     <div class ="row">
      <div class = "col-md-offset-3 col-md-8">
        <h1><%= title %></h1>
        <br>
        <table class="table table-bordered table-striped table-hover">
         <!--Header Row-->
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Number</th>
            <th class="text-center">Email</th>  
          </tr>  

       <!--Repeatable Template Row-->
          <% for(let count = 0; count < ContactsList.length; count++) { %>
          <tr>
              <td class="text-center"><%= ContactsList[count].name %></td>
              <td class="text-center"><%= ContactsList[count].number %></td>
              <td class="text-center"><%= ContactsList[count].email %></td>
              <td class="text-center">
                <a href="/contacts-list/update/<%= ContactsList[count]._id %>" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> Update</a>
              </td>
              <td class="text-center">
                <a href="/contacts-list/delete/<%= ContactsList[count]._id %>" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Delete</a>

            </td>

              

          </tr>
          
          <% } %>
        </table>
      </div>

    </div>
    </main>
     
   
 <!--Add Bottom Nav-->
 <%- include ../partials/bottom_nav.ejs%>
 <!--Add Footer-->
  <%- include ../partials/footer.ejs%>

 
