 <!--COMP229-Assignment02-Portfolio
Nandini Hariprasad
301129100
22/10/2021-->

<!--Add Header-->
 <%- include ../partials/header.ejs%>
 <!--Add Main Nav-->
  <%- include ../partials/main_nav.ejs%>

  <!-- Content for the Update Page-->
<div class= "container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter the Contact Name" name="name" value="<%= contacts.name %>" required>
        </div>

        <div class="form-group">
            <label for="numberTextField">Contact Number</label>
            <input type="text" class="form=control" id="numberTextField" placeholder="Enter the Contact's Number" name="number" value="<%= contacts.number %>" required>
        </div>

        <div class="form-group">
            <label for="emailTextField">Contact Email</label>
            <input type="text" class="form=control" id="emailTextField" placeholder="Enter the Contact's Email" name="email" value="<%= contacts.email %>" required>
        </div>


        <button class="btn btn-primary" type="submit">
            <i class="fas fa-edit"></i> Submit</button>

            <a href="/contacts-list" class ="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel</a>

            <a href="/contacts-list/delete/<%= contacts._id %>" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Delete</a>
        
            </form>
        </div>
    </div>
</div>    

  <!--Add Bottom Nav-->
 <%- include ../partials/bottom_nav.ejs%>
 <!--Add Footer-->
  <%- include ../partials/footer.ejs%>
 